@media screen and (max-width: 420px) {
    .div-butt_main{
    width: 100%;
    }
    
    .div-matrix_butt{
       width: 100%;
       flex-direction: column; 
       align-items: center;
       gap: 15px;
     }

     .fate-year-div{
        flex-wrap: wrap;
        margin: 10px;
     }

    .div-butt_fate{
        width: 100%;
        padding: 10px;
        
    }

    .container{
        width: 100%;
    }

    .form{
        width: 100%;
        padding: 20px;
        display: flex;
    }
    .div-butt_fate{
        width: 100%;
    }

    #matrixSVG{
        width: 100%;
    }

    .svg-two{
        width: 150%;
        margin-left: -109px;
        
        
    }
    .svg-two-div{
        overflow: hidden;
    }

    .parnter1{
        width: 100%;
        margin: 0;
    }

    .parnter2{
        width: 100%;
        padding: 10px;
        
    }

    .svg-comp{
      width: 100%;
    }

    .svg-2000{
       width: 150%;
       margin-left: -110px;
    }

    .container-partners{
        gap: 5px;
    }
}